<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <title>나만의 상점</title>

    <meta property="og:title" content="별을 따다줘" />
    <meta property="og:description" content="달에서 온 그대" />
    <meta property="og:image" content="{{ url_for('static', filename='ogimage.jpg') }}" />


    <style>

    .product {
        border: solid;
        width: 350px;
        margin: auto;
    }
    .line1 {
        width: 500px;
        margin: auto;
    }
    .line2 {
        font-size: 16px;
        width: 500px;
        height: 32px;
        margin: auto;
    }
    .line3 {
        /*align-content: center;*/
        width: 425px;
        margin: auto;
    }
    .line4 {
        /*align-content: center;*/
        width: 215px;
        margin: auto;
    }
    .line5{
        width: 50px;
        margin: auto;
        display: block;
    }
    .exam1{
        text-align: center;
        /*width: 700px;*/
        /*margin: auto;*/
    }
    .exam2{
        width: 700px;
        margin: auto;
    }
    </style>

    <script>

         $(document).ready(function () {
                view_orders();
            });

        $(document).ready(function(){

            $('#rate-id').empty();

                $.ajax({
                    type: "GET",
                    url: "http://spartacodingclub.shop/sparta_api/rate",
                    data: {},
                    success: function (response) {
                        let rows = response['rate']
                        console.log(rows)
                        let temp_html = `<span style="color:blue"> 달러 - 원 환율 : ${rows} </span>`
                        $('#rate-id').append(temp_html);
                    }
                })

            });

        function order() {
            let name = $('#post-name').val()
            let quantity = $('#value').val()
            quantity = Number(quantity);
            let address = $('#post-address').val()
            let fir_phone = $('#post-fir_phone').val()
            fir_phone = Number(fir_phone);
            let sec_phone = $('#post-sec_phone').val()
            sec_phone = Number(sec_phone);

            $.ajax({
                    type: "POST",
                    url: "/order",
                    data: {name_give:name, quantity_give:quantity, address_give:address, fir_phone_give:fir_phone, sec_phone_give: sec_phone},
                    success: function (response) { // 성공하면
                        alert(response["msg"]);
                        window.location.reload();
                    }
                })

        }

        function view_orders() {
                $('#settable').empty();

                $.ajax({
                    type: "GET",
                    url: "/order",
                    data: {},
                    success: function (response) {
                        let orders = response['all_orders']

                        for (let i = 0; i < orders.length; i++) {
                            let name = orders[i]['name']
                            let quantity = orders[i]['quantity']
                            let address = orders[i]['address']
                            let phone = orders[i]['phone']

                            let temp_html = `<tr>
                                                <th scope="row">${name}</th>
                                                <td>${quantity}</td>
                                                <td>${address}</td>
                                                <td>${phone}</td>
                                             </tr>`

                            $('#settable').append(temp_html)
                        }
                    }
                })
            }


    </script>

</head>

<body>
    <p>
    <div class="product">
            <img src="https://thumb.ac-illust.com/t/18/187d5825e11be7915158f23beecbee0d_t.jpeg" />
        </div>
    </p>
    <p>
        <div class="exam1"><h1>
        <span style="color:blue">별</span>을 판매합니다.
    <span style="font-size: large">가격: 100,000원 / 개</span>
        </h1>
    </div>
    </p>
    <div class="exam2">
        <p>
        <div><span style="color:green">달</span>에 갔다가 발견했습니다. 사람들의 꿈을 이루게
        <span style="color:red">해</span>준다는 행운의
        <span style="color:blue">별</span>입니다.</div>
        <div>수량이 많지 않으니 서둘러 챙겨가시기 바랍니다!</div>
    </p>
        <h5 id = "rate-id">
        <span style="color:blue"> 달러 - 원 환율 : </span>
        </h5>
    <h3>주문하기</h3>
        <div>
        {{ID}}님을 환영합니다.
        <a href="http://localhost:5000/"><button type="submit" class="btn btn-primary">로그아웃</button></a>
<!--        <a href="http://woobin.shop/"><button type="submit" class="btn btn-primary">로그아웃</button></a>-->
        </div>
    <p>주문자 성함: <input class="line1" type="text" id="post-name" /></p>

    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;수 &nbsp;&nbsp;&nbsp;량&nbsp;&nbsp;&nbsp;:
        <select class="line2" id="value">
        <option selected> --수량을 선택하세요--</option>
        <option value = 1> 1 </option>
        <option value = 2> 2 </option>
        <option value = 3> 3 </option>
        <option value = 4> 4 </option>
        <option value = 5> 5 </option>
        <option value = 6> 6 </option>
        <option value = 7> 7 </option>

    </select>
    </p>

    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;주 &nbsp;&nbsp;&nbsp;소&nbsp;&nbsp; :
        <input class="line3" type="text" id = "post-address">
        <a target="_blank" href="https://map.naver.com">주소 찾기</a>
    </p>
<!--        /v5/?c=14114403.1545978,4513012.8763477,15,0,0,0,dh-->

    <p>
        전 화 &nbsp;번 호 : 010 -&nbsp;
        <input class="line4" type="tel" id = "post-fir_phone">
        &nbsp;-&nbsp;
        <input class="line4" type="tel" id = "post-sec_phone">
    </p>

    <p class="line5">
    <button type="submit" class="btn btn-primary" onclick="order()">주문하기</button>
    </p>
    </div>
</div>
		<table class="table">
		  <thead>
		    <tr>
		      <th scope="col">이름</th>
		      <th scope="col">수량</th>
		      <th scope="col">주소</th>
		      <th scope="col">전화번호</th>
		    </tr>
		  </thead>
		  <tbody id = settable>
		    <tr>
		      <th scope="row">홍길동</th>
		      <td>1</td>
		      <td>서울시 동작구</td>
		      <td>010-1234-5678</td>
		    </tr>
		    <tr>
		      <th scope="row">신사임당</th>
		      <td>2</td>
		      <td>서울시 영등포구</td>
		      <td>010-1234-5678<
                  /td>
		    </tr>
		    <tr>
		      <th scope="row">장영실</th>
		      <td>1</td>
		      <td>부산시 중구</td>
		      <td>010-1234-5678</td>
		    </tr>
		  </tbody>
		</table>
</div>

</body>

</html>